// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

// #h {
//     z-index: 1002;
//   }
#h {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // Ensures header stays above other content
}
  
  .menu-list {
    border-block-end: 1px solid #414750; // grey-650
  }